.cell {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 14px;
    padding: 11px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;

    .fade {
        font-weight: 500;
        color: #ccc;

        a {
            color: #778087;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}